name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake lcov g++

      - name: Build project
      run: |
    mkdir build
    cd build
    cmake $GITHUB_WORKSPACE
    cmake --build .


      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure
